body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1e1e2e!important;
    color: #cdd6f4!important;
    margin: 0;
    padding: 0px;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #89b4fa;
    margin-bottom: 20px;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 25px;
}
.video-column {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
}
.video-panel {
    background-color: #2a2a3e;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.video-panel h2 {
    margin-top: 0;
    border-bottom: 2px solid #89b4fa;
    padding-bottom: 10px;
}
.video-feed {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: #11111b;
}
.status-column {
    min-width: 300px;
    max-width: 400px;
    flex-grow: 1;
}
#button-status {
    font-weight: bold;
    text-align: center;
    padding: 6px;
    border-radius: 8px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}
.status-off {
    background-color: #e6646e;
    color: #11111b;
}
.status-on {
    background-color: #a6e3a1;
    color: #11111b;
}
.nav-right-buttons{
    column-gap: 10px;
}
.btnConfig{
    background-color: transparent;
    border: none;
    color: white;
}