{% extends "layout.html" %}

{% block content %}
<div class="video-column">
    <div class="video-panel">
        <h2>Câmera de Detecção</h2>
        <img class="video-feed" src="{{ url_for('video_feed') }}" alt="Câmera de Detecção">
    </div>
    <div class="video-panel">
        <h2>Câmera Térmica</h2>
        <img class="video-feed" src="{{ url_for('thermal_feed') }}" alt="Câmera Térmica">
    </div>
    <div class="video-panel">
        <h2>Graficos</h2>
        <img class="video-feed" src="{{ url_for('graph_feed') }}" alt="Câmera Térmica">
    </div>
</div>
{% endblock %}